<!--
  Generated template for the AdvancedSearchedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
    <ion-title>{{ 'adSearchPage.title' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-row>
  <ion-col col-10 offset-1>
    <ion-item style="background: transparent!important;">
      <ion-label>{{ 'adSearchPage.exhibition' | translate }}</ion-label>
      <ion-select [(ngModel)]="exhibition" interface="popover" multiple="false">
        <ion-option *ngFor="let i of exhibitions" value="{{i.id}}">{{i.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-col>
<!--  <ion-col col-10 offset-1>-->
<!--    <ion-item style="background: transparent!important;">-->
<!--      <ion-label>Country</ion-label>-->
<!--      <ion-select [(ngModel)]="country" interface="popover" multiple="false"  (ngModelChange)="cityChange()">-->
<!--        <ion-option *ngFor="let i of countryData" value="{{i.id}}">{{i.country}}</ion-option>-->
<!--      </ion-select>-->
<!--    </ion-item>-->
<!--  </ion-col>-->
  <ion-col col-10 offset-1>
    <ion-item style="background: transparent!important;">
      <ion-label>{{ 'adSearchPage.city' | translate }}</ion-label>
      <ion-select [(ngModel)]="city" interface="popover" multiple="false">
        <ion-option *ngFor="let i of citiesData" value="{{i.id}}">{{i.city}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-col>
  <ion-col col-10 offset-1>
    <ion-item style="background: transparent!important;">
      <ion-label>{{ 'adSearchPage.keyword' | translate }}</ion-label>
      <ion-input [(ngModel)]="keyword"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col col-2 offset-8  (click)="search()">
    <ion-buttons ion-button color="secondary">{{ 'adSearchPage.search' | translate }}</ion-buttons>
  </ion-col>
</ion-row>
  <ion-row no-padding>
    <ion-col col-12>

      <div class="main-product-section" *ngFor="let i of companies">
        <div class="models-left"  (click)="oepnProDetail(i.show_url)">
          <!--<img src="../../assets/content/company.png" alt="">-->
          <img src="{{i.image}}" style="width: 150px;" alt="">
        </div>
        <div class="models-right">
          <div class="model-product-name"  (click)="oepnProDetail(i.show_url)">{{i.name}}</div>
          <div class="model-brand-name"  (click)="oepnProDetail(i.show_url)">{{i.product}}</div>
          <div class="model-cart-btn" >
            <a (click)="addToCart(i.id,i.image,i.show_url,i.company_id)" *ngIf="addToCartCheck(i.id)"><ion-icon class="add-to-cart-icon" name="cart"></ion-icon>{{'brandPage.models.cart' | translate}}</a>
            <a *ngIf="!addToCartCheck(i.id)"><ion-icon class="add-to-cart-icon" name="cart"></ion-icon>{{'brandPage.models.rCart' | translate}}</a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>



<!--        <div class="company-main-icon-div" *ngFor="let i of companies" (click)="openBrand(i.show_url)">-->
<!--          <div class="company-left-icon">-->
<!--            <ion-badge color="dark" style="position: absolute;margin-top: 7px!important;margin-left: -14%;" *ngIf="i.isSilver">Silver</ion-badge>-->
<!--            <ion-badge color="secondary" style="position: absolute;margin-top: 7px!important;margin-left: -14%;" *ngIf="i.isGolden" >Golden</ion-badge>-->
<!--            <div class="company-category-img">-->
<!--              &lt;!&ndash;<a href="#"><img src="../../assets/content/company.png" style="width: 100px;" alt="icon1"></a>&ndash;&gt;-->
<!--              <img src="{{i.logo}}" style="width: 100px;">-->
<!--            </div>-->
<!--            <div class="company-category-name">-->
<!--              &lt;!&ndash;{{i.name | slice:0:15}}&ndash;&gt;-->
<!--              {{i.name}}-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
    </ion-col>
  </ion-row>
</ion-content>
