<ion-header>

  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
    <ion-title>{{ 'AboutPage.title' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div class="top-user-pic">
          <img src="{{fetch.featured_image}}" alt="" *ngIf="fetch">
          <div class="username" *ngIf="show">{{fetch.title}}</div>
        </div>

        <div class="about-detail">
          <p [innerHTML]="fetch.content" *ngIf="show">

          </p>
        </div>

      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col col-12 no-padding>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
