<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
    <ion-title>Exhibition</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-grid no-padding>

    <ion-row no-padding>
      <ion-col col-12 no-padding>
        <div class="topbar">
          <div class="left">
            <div style="width: 100%; text-align: center;">
              <div style="float: left;width: 50%;">
                <!--<ion-icon class="profile-icon" name="contact"></ion-icon>-->
                <img class="profile-pic" src="../../assets/content/company.png" alt="">
              </div>
              <div style="float: left;width: 30%;"><ion-icon class="cart-icon" name="cart"></ion-icon></div>
            </div>
          </div>
          <div class="right">
            <div style="width: 100%; text-align: center;">
              <div style="float: left;width: 25%;"> <ion-icon class="notification-icon" name="notifications-outline" (click)="openNot()"></ion-icon>
                <div *ngIf="noti == true">ajhaklsjha</div>
              </div>
              <div style="float: left;width: 25%; text-align: left;position: relative"><ion-icon class="language-icon" name="globe" (click)="openLnag()"></ion-icon>
                <div *ngIf="lang == true" style="position: absolute">ajhaklsjha</div>
              </div>
              <div style="float: right;width: 50%;">
                <img src="../../assets/content/logo.png" style="background: transparent; border-radius:15px; width: 70px;" class="logo-icon">
              </div>
            </div>
            <!--<span> <ion-icon class="notification-icon" name="notifications-outline"></ion-icon> </span>-->
            <!--<span> <ion-icon class="language-icon" name="megaphone"></ion-icon> </span>-->
            <!--<span> <img src="../../assets/content/logo.png" style="background: transparent; border-radius:15px; width: 70px;" class="logo-icon"> </span>-->
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row no-padding>
      <ion-col col-12 no-padding>
        <div class="exibition-slide" >
            <!--<ion-card>-->
                <ion-slides autoplay="3000" speed="2000" pager loop="true" effect="fade">
                    <ion-slide *ngFor="let number of [1,2,3,4]">
                        <div>
                            <img src="../../assets/content/slide/{{number}}.png" alt="">
                        </div>
                    </ion-slide>
                </ion-slides>
            <!--</ion-card>-->
        </div>
      </ion-col>
    </ion-row>


    <ion-row no-padding>
      <ion-col col-12>
        <div class="main-icon-div" *ngFor="let i of exhibition;let in = index" (click)="openCompany(i.show_url)">
          <div class="left-icon">
            <div class="category-img">
              <a href="#"><img src="../../assets/content/1.png" style="width: 100px;" alt="icon1"></a>
              <!--<a href="#"><img src="{{i.mobile_logo}}" style="width: 100px;" alt="icon1"></a>-->
            </div>
            <div class="category-name">
              <a href="#">{{i.name}}</a>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>

    <!--<ion-row no-padding>
      <div class="spc"></div>
      <ion-col col-12 no-padding>
        <div class="exibition-icons">
          <ul class="exibition-ul">
            <li><a href="#"><img src="../../assets/content/1.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/2.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/3.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/4.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/5.png" alt="icon1"></a></li>
          </ul>
          <div style="clear: both;"></div>
        </div>
        <div class="exibition-icons">
          <ul class="exibition-ul">
            <li><a href="#"><img src="../../assets/content/6.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/7.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/8.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/9.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/10.png" alt="icon1"></a></li>
          </ul>
          <div style="clear: both;"></div>
        </div>
        <div class="exibition-icons">
          <ul class="exibition-ul">
            <li><a href="#"><img src="../../assets/content/11.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/12.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/13.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/14.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/15.png" alt="icon1"></a></li>
          </ul>
          <div style="clear: both;"></div>
        </div>
      </ion-col>
    </ion-row>-->
  </ion-grid>

</ion-content>


