<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
    <ion-title> {{ 'exhibitionPage.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div #map id="map"></div>
  <ion-grid no-padding>

    <ion-row no-padding>
      <ion-col col-12 no-padding>
        <div class="topbar">
          <div class="left">
            <div style="width: 100%; text-align: center;">
              <div style="float: left;width: 50%;">
                <ion-icon class="profile-icon" name="contact" *ngIf="!globalVar.loginStatus"></ion-icon>
                <img class="profile-pic" src="{{globalVar.loginData.picture}}" alt="" *ngIf="globalVar.loginStatus">
              </div>
              <ion-badge color="secondary" style="position: absolute;margin-top: 9px!important;margin-left: -7%;font-size: 9px;">{{totalCartData}}</ion-badge>
              <div style="float: left;width: 30%;" (click)="openCart()"><ion-icon class="cart-icon" name="cart"></ion-icon></div>
            </div>
          </div>
          <div class="right">
            <div style="width: 100%; text-align: center;">
              <div style="float: left;width: 25%;"> <ion-icon class="notification-icon" name="notifications-outline" (click)="openNot()"></ion-icon>
                <!--<div *ngIf="noti == true">En</div>-->
              </div>
              <div style="float: left;width: 25%; text-align: left;position: relative"><ion-icon class="language-icon" name="globe" (click)="openLnag()"></ion-icon>
                <!--<div *ngIf="lang == true" style="position: absolute">
                  <div>En</div>
                  <div>Ar</div>
                </div>-->
              </div>
              <div style="float: right;width: 50%;">
                <img src="../../assets/content/logo.png" style="background: transparent; border-radius:15px; width: 70px;" class="logo-icon">
              </div>
            </div>
            <!--<span> <ion-icon class="notification-icon" name="notifications-outline"></ion-icon> </span>-->
            <!--<span> <ion-icon class="language-icon" name="megaphone"></ion-icon> </span>-->
            <!--<span> <img src="../../assets/content/logo.png" style="background: transparent; border-radius:15px; width: 70px;" class="logo-icon"> </span>-->
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col col-8 no-padding style="border-right: 2px solid #eee;">
        <div class="exibition-slide" >
            <!--<ion-card>-->
                <ion-slides autoplay="3000" pager loop="false" effect="false">
                    <ion-slide *ngFor="let i of slider">
                        <!--<div>-->
                            <img src="{{i.logo}}" style="height: 160px" (click)="openCompany(i.show_url)">
                            <!--<img src="https://app.soexpo.net/assets/corals/images/avatars/avatar_3.png" alt="" style="height: 160px" (click)="openCompany(i.show_url)">-->
                        <!--</div>-->
                    </ion-slide>
                </ion-slides>
            <!--</ion-card>-->
        </div>
      </ion-col>
      <ion-col col-4 no-padding>
        <div class="exhibition-slider-name">
          <!--<div class="arabic-name">الراعي الماسي</div>-->
          <!--<div class="english-name">Diamond Sponsor</div>-->
          <div class="arabic-name">{{ 'exhibitionPage.slider' | translate }}</div>
        </div>
      </ion-col>
    </ion-row>


    <ion-row no-padding>
      <ion-col col-12>
        <ion-searchbar placeholder="{{'search' | translate}}" (ionInput)="getItems($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col col-12>
        <div class="main-icon-div" *ngFor="let i of exhibition;let in = index" (click)="openCompany(i.show_url)">
          <div class="left-icon">
            <div class="category-img">
              <!--<a><img src="../../assets/content/1.png" style="width: 100px;" alt="icon1"></a>-->
              <a><img src="{{i.mobile_logo}}" style="width: 100px;" alt="icon1"></a>
            </div>
            <div class="category-name">
              <a>{{i.name}}</a>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>

    <!--<ion-row no-padding>
      <div class="spc"></div>
      <ion-col col-12 no-padding>
        <div class="exibition-icons">
          <ul class="exibition-ul">
            <li><a href="#"><img src="../../assets/content/1.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/2.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/3.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/4.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/5.png" alt="icon1"></a></li>
          </ul>
          <div style="clear: both;"></div>
        </div>
        <div class="exibition-icons">
          <ul class="exibition-ul">
            <li><a href="#"><img src="../../assets/content/6.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/7.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/8.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/9.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/10.png" alt="icon1"></a></li>
          </ul>
          <div style="clear: both;"></div>
        </div>
        <div class="exibition-icons">
          <ul class="exibition-ul">
            <li><a href="#"><img src="../../assets/content/11.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/12.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/13.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/14.png" alt="icon1"></a></li>
            <li><a href="#"><img src="../../assets/content/15.png" alt="icon1"></a></li>
          </ul>
          <div style="clear: both;"></div>
        </div>
      </ion-col>
    </ion-row>-->
  </ion-grid>

</ion-content>


