
<ion-header>

  <!--<ion-navbar>
    <ion-title>companies</ion-title>
  </ion-navbar>-->
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
    <!--<ion-title>{{ 'companyPage.title' | translate }}</ion-title>-->
    <ion-title>{{navParams.get('name')}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid no-padding>
    <ng-container *ngIf="showData">
      <ion-row no-padding *ngIf="sponsor_golden_show">
        <ion-col col-12 no-padding>
          <div class="company-slide" style="border: 2px solid goldenrod;">
            <ion-slides autoplay="3000" pager loop="true" effect="false">
              <ion-slide *ngFor="let i of sponsor_golden"  (click)="openBrand(i.show_url)">
                <!--<img src="../../assets/content/company-slide/1.png" alt="">-->
                <img src="{{ i.logo }}" alt="" style="height: 200px">
              </ion-slide>
            </ion-slides>
          </div>
        </ion-col>
      </ion-row>
      <ion-row no-padding *ngIf="sponsor_participants_show">
        <ion-col col-12 no-padding>
          <div class="company-slide" style="margin-top: 10px; margin-bottom: 10px;">
            <ion-slides autoplay="3000" pager loop="true" effect="false">
              <ion-slide  *ngFor="let i of sponsor_participants">
                <!--<img src="../../assets/content/company-slide/2.png" alt="">-->
                <img src="{{ i.content }}" alt="" style="height: 200px">
              </ion-slide>
            </ion-slides>
          </div>
        </ion-col>
      </ion-row>
      <ion-row no-padding *ngIf="sponsor_silver_show">
        <ion-col col-12 no-padding>
          <div class="company-slide">
            <ion-slides autoplay="3000" pager loop="true" effect="false">
              <ion-slide *ngFor="let i of sponsor_silver" (click)="openBrand(i.show_url)">
                <!--<img src="../../assets/content/company-slide/1.png" alt="">-->
                <img src="{{i.logo}}" alt=""  style="height: 200px">
              </ion-slide>
            </ion-slides>
          </div>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row no-padding>
      <ion-col col-12>
        <ion-searchbar placeholder="{{'search' | translate}}" (ionInput)="getItems($event)"></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row no-padding>
      <ion-col col-12>
        <ng-container  *ngIf="showData">
          <div class="company-main-icon-div" *ngFor="let i of companies" (click)="openBrand(i.show_url)">
            <div class="company-left-icon">
              <ion-badge color="dark" style="position: absolute;margin-top: 7px!important;margin-left: -14%;" *ngIf="i.isSilver">Silver</ion-badge>
              <img src="../../assets/content/gold.png" *ngIf="i.isGolden" style="position: absolute;margin-top: 4px!important;
    margin-left: -17%;width: 50px;height: 38px;">
<!--              <ion-badge color="secondary" style="position: absolute;margin-top: 7px!important;margin-left: -14%;" *ngIf="i.isGolden" >Golden</ion-badge>-->
              <div class="company-category-img">
                <!--<a href="#"><img src="../../assets/content/company.png" style="width: 100px;" alt="icon1"></a>-->
                <img src="{{i.logo}}" style="width: 100px;">
              </div>
              <div class="company-category-name">
                <!--{{i.name | slice:0:15}}-->
                {{i.name}}
              </div>
            </div>
          </div>
        </ng-container>
      </ion-col>
    </ion-row>


    <!--<ion-row no-padding>

      <div class="spc"></div>

      <ion-col col-12 no-padding>
        <div class="company-icons">
          <ul class="company-ul">
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
          </ul>
          <div style="clear: both;"></div>
        </div>
        <div class="company-icons">
          <ul class="company-ul">
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
          </ul>
          <div style="clear: both;"></div>
        </div>
        <div class="company-icons">
          <ul class="company-ul">
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
          </ul>
          <div style="clear: both;"></div>
        </div>
      </ion-col>
    </ion-row>-->
  </ion-grid>

</ion-content>
