
<ion-header>

  <!--<ion-navbar>
    <ion-title>companies</ion-title>
  </ion-navbar>-->
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
    <ion-title>Companies</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col col-12 no-padding>
        <div class="company-slide">
          <ion-slides autoplay="3000" speed="2000" pager loop="true" effect="fade">
            <ion-slide *ngFor="let i of sponsor_golden">
              <div>
                <!--<img src="../../assets/content/company-slide/1.png" alt="">-->
                <img src="{{i.logo}}" alt="">
              </div>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col col-12 no-padding>
        <div class="company-slide" style="margin-top: 10px; margin-bottom: 10px;">
          <ion-slides autoplay="3000" speed="2000" pager loop="true" effect="fade">
            <ion-slide  *ngFor="let i of sponsor_participants">
              <div>
                <!--<img src="../../assets/content/company-slide/2.png" alt="">-->
                <img src="{{i.content}}" alt="">
              </div>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col col-12 no-padding>
        <div class="company-slide">
          <ion-slides autoplay="3000" speed="2000" pager loop="true" effect="fade">
            <ion-slide *ngFor="let i of sponsor_silver">
              <div>
                <!--<img src="../../assets/content/company-slide/1.png" alt="">-->
                <img src="{{i.logo}}" alt="">
              </div>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-col>
    </ion-row>


    <ion-row no-padding>
      <ion-col col-12>
        <div class="company-main-icon-div"  *ngFor="let i of companies" (click)="openBrand(i.show_url)">
          <div class="company-left-icon">
            <div class="company-category-img">
              <!--<a href="#"><img src="../../assets/content/company.png" style="width: 100px;" alt="icon1"></a>-->
              <img src="{{i.logo}}" style="width: 100px;" alt="icon1">
            </div>
            <div class="company-category-name">
              {{i.name | slice:0:15}}
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>


    <!--<ion-row no-padding>

      <div class="spc"></div>

      <ion-col col-12 no-padding>
        <div class="company-icons">
          <ul class="company-ul">
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
          </ul>
          <div style="clear: both;"></div>
        </div>
        <div class="company-icons">
          <ul class="company-ul">
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
          </ul>
          <div style="clear: both;"></div>
        </div>
        <div class="company-icons">
          <ul class="company-ul">
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
            <li>
              <a href="#"><img src="../../assets/content/company.png" alt="icon1"></a>
              <div class="company-name">Company Name</div>
            </li>
          </ul>
          <div style="clear: both;"></div>
        </div>
      </ion-col>
    </ion-row>-->
  </ion-grid>

</ion-content>
