<ion-header>

  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
    <ion-title>Product Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid no-padding>
    <ion-row style="padding-top: 0!important;">
      <ion-col col-12>
        <div class="main-pro-detail">
          <!--<div class="model-name">-->
            <!--<div class="name-heading">Model</div>-->
            <!--<div class="real-name" *ngIf="show">{{detail.name}}</div>-->
          <!--</div>-->
          <div class="clearfix"></div>

          <div class="product-name">
            <div class="name-heading">Product</div>
            <div class="real-name" *ngIf="show">{{detail.product}}</div>
          </div>
          <div class="clearfix"></div>

          <div class="company">
            <div class="name-heading">Company</div>
            <div class="real-name" *ngIf="show">{{detail.name}}</div>
          </div>
          <div class="clearfix"></div>

          <div class="product-description">
            <div class="name-heading">Description</div>
            <div class="real-name" *ngIf="show">
              {{detail.description}}
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <div class="main-images">
          <div class="golden-img">

          </div>
          <div class="product-against-images">
            <!--<ion-icon name="star" class="gold-star"></ion-icon>-->
            <img *ngFor="let i of gallery"  src="{{i.url}}" alt="" >
          </div>
          <!--<div class="social-icons">
            <ion-icon class="img-social-link-fb" name="logo-facebook"></ion-icon>
            <ion-icon class="img-social-link-tw" name="logo-twitter"></ion-icon>
            <ion-icon class="img-social-link-pn" name="logo-pinterest"></ion-icon>
            <ion-icon class="img-social-link-go" name="logo-googleplus"></ion-icon>
          </div>-->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
