
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
    <ion-title>{{ 'ContactPage.title' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12>
        <div class="top-user-pic">
          <img src="{{fetch.featured_image}}" alt="" *ngIf="show && fetch.featured_image">
          <img src="../../assets/content/contact.jpg" alt="" *ngIf="show">
          <!--<div class="username">Name</div>-->
        </div>

        <div class="main-contact">
          <!--<div class="contact-detail">-->
            <!--<div class="left-contact">-->
              <!--<ion-icon class="icon-call" name="call"></ion-icon>-->
            <!--</div>-->
            <!--<div class="right-contact">-->
              <!--+000000000000-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->

          <!--<div class="contact-detail">-->
            <!--<div class="left-contact">-->
              <!--<ion-icon class="icon-mail" name="mail"></ion-icon>-->
            <!--</div>-->
            <!--<div class="right-contact">-->
              <!--hellotestemail@gmail.com-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->

          <div class="contact-detail">
            <!--<div class="left-contact">-->
              <!--<ion-icon class="icon-pin" name="pin"></ion-icon>-->
            <!--</div>-->
            <div class="right-contact" *ngIf="show" [innerHTML]="fetch.content">

            </div>
            <div class="clearfix"></div>
          </div>
        </div>

      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col col-12 no-padding>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
