
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
    <ion-title>{{'brandPage.title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-grid no-padding>

    <ion-row no-padding>
      <ion-col col-12 no-padding>
        <div class="brand-topbar">
          <div class="brand-left">
            <div style="width: 100%;">
              <div style="float: left;width: 100%; padding-bottom: 10px; padding-top: 10px;">
                <ion-icon class="tel-icon" name="call"></ion-icon>
                <div class="brand-top-det">&nbsp;+{{companyDetails.phone}}</div></div>
              <div style="float: left;width: 100%;"><ion-icon class="fax-icon" name="filing"></ion-icon>
                <div class="brand-top-det">&nbsp;{{companyDetails.fax}}</div></div>
            </div>
          </div>
          <div class="brand-center">
            <div style="width: 100%; text-align: center;">
              <div style="float: left;width: 100%; text-align: left; padding-top: 10px; padding-bottom: 10px;">
                <ion-icon class="website-icon" name="globe"></ion-icon>
                <div class="brand-top-det">&nbsp;{{companyDetails.website}}</div>
              </div>
              <div style="float: left;width: 100%; text-align: left;">
                <ion-icon class="email-icon" name="mail"></ion-icon>
                <div class="brand-top-det">&nbsp;{{companyDetails.email}}</div>
              </div>
            </div>
          </div>
          <div class="brand-right">
            <div style="width: 100%;  text-align: right;">
              <div style="width: 100%; text-align: right;">
                <img src="{{companyDetails.logo}}" style=" padding-right: 10px; background: transparent; border-radius:15px; width: 70px;" class="logo-icon">
                <!--<img src="{{companyDetails.logo}}" style=" padding-right: 10px; background: transparent; border-radius:15px; width: 70px;" class="logo-icon">-->
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>


    <ion-row no-padding>
      <ion-col col-12>
        <div class="overall-rating-main">

          <div class="overall-left">
            <!--<img src="{{companyDetails.logo}}" alt="">-->
            <img src="{{companyDetails.logo}}" alt="">
          </div>
          <div class="overall-right">
            <div class="overall-heading">{{'brandPage.overRating' | translate}}</div>
            <div class="overall-stars">
              <p ion-button outline style="border:0px solid black; margin-top: -12px;">
                <ion-rating
                  [numStars]="5"
                  [readOnly]="true"
                  [value]=companyDetails.average_rating
                  [ratingName] = "'average_rating'"
                  [url]="companyDetails.rating_url"
                  *ngIf="showRating">
                </ion-rating>
              </p>
            </div>
            <div class="overall-description">
              <!--{{companyDetails.description}}-->
            </div>
<!--            <div  (click)="viewProfile()">-->
<!--              <ion-buttons ion-button>Click to profile read</ion-buttons>-->
<!--            </div>-->
            <div  (click)="downProfile()" *ngIf="companyDetails.company_profile">
              <ion-buttons ion-button style="background-color: #186e47 !important">{{'brandPage.companyProfile' | translate}}</ion-buttons>
            </div>
          </div>
          <div style="clear: both;"></div>

          <div class="company-name">
            <div class="comp-info-icon"><ion-icon class="planet-icon" name="planet"></ion-icon></div>
            <div class="comp-info">
              {{companyDetails.name}}
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="company-address">
            <div class="comp-info-icon"><ion-icon class="pin-icon" name="pin"></ion-icon></div>
            <div class="comp-info">
              {{companyDetails.address}}
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="company-description">
            <div class="comp-info-icon"><ion-icon class="info-icon" name="information-circle"></ion-icon></div>
            <div class="comp-info">
              {{companyDetails.description}}
            </div>
          </div>

        </div>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <div class="spc"></div>
      <ion-col col-12 no-padding>
        <div class="main-rating">
          <div class="rate-this-company">{{'brandPage.rateCompany' | translate}}</div>
          <div class="rating-one">
            <!--<div class="rating-one-left">الرضا عن المنتجات</div>-->
            <div class="rating-one-left">{{'brandPage.sProduct' | translate}}</div>
            <div class="rating-one-right">

              <p ion-button outline style="border:0px solid black; margin-top: -12px;">
                <ion-rating
                  [numStars]="5"
                  [readOnly]="false"
                  [value]=companyDetails.rating.products_satisfaction.my_rating
                  [ratingName] = "'products_satisfaction'"
                  [url]="companyDetails.rating_url"
                *ngIf="showRating"
                >
                </ion-rating>
              </p>
            </div>
            <div style="clear: both;"></div>
          </div>
          <div class="rating-two">
            <!--<div class="rating-two-left">الرضا عن أستجابة فريق الشركة</div>-->
            <div class="rating-two-left">{{'brandPage.sCompany' | translate}}</div>
            <div class="rating-two-right">
              <p ion-button outline style="border:0px solid black; margin-top: -12px;">
                <ion-rating
                  [numStars]="5"
                  [readOnly]="false"
                  [value]=companyDetails.rating.team_members_response.my_rating
                  [ratingName] = "'team_members_response'"
                  [url]="companyDetails.rating_url"
                  *ngIf="showRating">
                </ion-rating>
              </p>
            </div>
            <div style="clear: both;"></div>
          </div>
          <div class="rating-three">
            <div class="rating-three-left">{{'brandPage.oAssessment' | translate}}</div>
            <!--<div class="rating-three-left">التقييم العام للشركة</div>-->
            <div class="rating-three-right">
              <p ion-button outline style="border:0px solid black; margin-top: -12px;">
                <ion-rating
                  [numStars]="5"
                  [readOnly]="false"
                  [value]=companyDetails.rating.over_all_experience_evaluation.my_rating
                  [ratingName] = "'over_all_experience_evaluation'"
                  [url]="companyDetails.rating_url"
                  *ngIf="showRating">
                </ion-rating>
              </p>
            </div>
            <div style="clear: both;"></div>
          </div>
          <div style="clear: both;"></div>
        </div>
      </ion-col>
      <div style="clear: both;"></div>

    </ion-row>


    <ion-row>
      <ion-col col-12>
        <div class="main-tabs">
          <div class="location" (click)="changeTab('location')">
            <button ion-button color="dark" [ngClass]="{'active': tab == 'location'}"><ion-icon class="team-icon" name="pin"></ion-icon>{{'brandPage.location.title' | translate}}</button>
          </div>
          <div class="team" (click)="changeTab('team')">
            <button ion-button color="dark" [ngClass]="{'active': tab == 'team'}"><ion-icon class="team-icon" name="people"></ion-icon>{{'brandPage.team.title' | translate}}</button>
          </div>
          <div class="models" (click)="changeTab('models')">
            <button ion-button color="dark" [ngClass]="{'active': tab == 'models'}"><ion-icon class="team-icon" name="cube"></ion-icon>{{'brandPage.models.title' | translate}}</button>
          </div>
          <div class="models" (click)="changeTab('videos')">
            <button ion-button color="dark" [ngClass]="{'active': tab == 'videos'}"><ion-icon class="team-icon" name="images"></ion-icon>{{'brandPage.gallery.title' | translate}}</button>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row padding>
      <ion-col col-12 padding>
        <div class="tab-main-div">
        <div class="location-tab" *ngIf="tab == 'location'">
          Location
        </div>
        <div class="team-tab" *ngIf="tab == 'team'">
          <ion-row no-padding>
            <ion-col col-12>
              <ion-searchbar placeholder="{{'search' | translate}}" (ionInput)="getTeam($event)"></ion-searchbar>
            </ion-col>
          </ion-row>
          <div class="main-team-section" *ngFor="let i of members">
            <div class="team-left">
              <!--<img src="../../assets/content/company.png" alt="">-->
              <img src="{{i.picture}}" alt="">
            </div>
            <div class="team-right">
              <div class="team-product-name">{{i.name}}</div>
              <div class="team-brand-name">
<!--                <span><a href="tel:923000421077" class="button button-positive"><ion-icon class="call-icon" name="call"></ion-icon></a></span>-->
                <span><a href="tel:{{i.phone}}" class="button button-positive"><ion-icon class="call-icon" name="call"></ion-icon></a></span>
                <span><a href="mailto:{{i.email}}" class="button button-positive"><ion-icon class="mail-icon" name="mail"></ion-icon></a></span>
              </div>
              <div class="team-cart-btn" *ngIf="show == i.id" (click)="appSubmit(i.meeting_request)">
                <a href="#">{{'brandPage.team.confirm' | translate}}</a>
              </div>
              <div class="team-cart-btn" *ngIf="hide != i.id" (click)="showDate(i.id)">
                <a href="#">{{'brandPage.team.book' | translate}}</a>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="full-width-div">
              <div class="left-div">
                <ion-item *ngIf="show == i.id">
                  <ion-label>Start Date</ion-label>
                  <ion-datetime displayFormat="YYYY-MM-DD H:m" pickerFormat="YYYY-MM-DD H:m" (ionChange)="startFun($event)" format="" [(ngModel)]="start"></ion-datetime>
                </ion-item>
              </div>
              <div class="right-div">
                <ion-item *ngIf="show == i.id">
                  <ion-label>End Date</ion-label>
                  <ion-datetime displayFormat="YYYY-MM-DD H:m" pickerFormat="YYYY-MM-DD H:m" (ionChange)="endFun($event)" [(ngModel)]="end"></ion-datetime>
                </ion-item>
              </div>
              <div class="clearfix"></div>
            </div>

          </div>
        </div>
        <div class="models-tab" *ngIf="tab == 'models'">
          <ion-row no-padding>
            <ion-col col-12>
              <ion-searchbar placeholder="{{'search' | translate}}" (ionInput)="getBrand($event)"></ion-searchbar>
            </ion-col>
          </ion-row>
          <div class="main-product-section" *ngFor="let i of brands">
            <div class="models-left"  (click)="oepnProDetail(i.show_url)">
              <!--<img src="../../assets/content/company.png" alt="">-->
              <img src="{{i.image}}" alt="">
            </div>
            <div class="models-right">
              <div class="model-product-name"  (click)="oepnProDetail(i.show_url)">{{i.name}}</div>
              <div class="model-brand-name"  (click)="oepnProDetail(i.show_url)">{{i.product}}</div>
              <div class="model-cart-btn" >
                <a (click)="addToCart(i.id,i.image,i.show_url)" *ngIf="addToCartCheck(i.id)"><ion-icon class="add-to-cart-icon" name="cart"></ion-icon>{{'brandPage.models.cart' | translate}}</a>
                <a *ngIf="!addToCartCheck(i.id)"><ion-icon class="add-to-cart-icon" name="cart"></ion-icon>{{'brandPage.models.rCart' | translate}}</a>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="models-tab" *ngIf="tab == 'videos'">
          <ion-row no-padding  *ngIf="showGallery">
            <ion-col col-12 no-padding>
              <div class="company-slide">
                <ion-slides autoplay="3000" pager loop="true" effect="false">
                  <ion-slide *ngFor="let i of gallery">
                    <!--<img src="../../assets/content/company-slide/1.png" alt="">-->
                    <img src="{{ i.url }}" alt="">
                  </ion-slide>
                </ion-slides>
              </div>
            </ion-col>
          </ion-row>
          <div *ngIf="showVideos">
<!--            <div class="main-product-section" *ngFor="let i of videos" (click)="playVideo(i)">-->
            <div class="main-product-section" *ngFor="let i of videos">
              <a href="http://www.youtube.com/watch?v={{ i }}">
                <ion-icon name="play" style=" margin-top: 16%;position: absolute;margin-left: 35%;font-size: 60px;"></ion-icon>
                <img src="https://i.ytimg.com/vi/{{ i }}/mqdefault.jpg">
              </a>
<!--              <iframe width="100%"  height="auto" [src]="i" frameborder="0" allowfullscreen></iframe>-->
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
