<ion-header>

  <!--<ion-navbar>
    <ion-title>update-profile</ion-title>
  </ion-navbar>-->
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
    <ion-title>{{'updatePage.title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-12  (click)="editPic()">
        <div class="top-user-pic-update">
          <img src="{{ globalVar.updateAbleLoginData.picture }}"  style="width: 100%; height: 180px;" alt="">
          <div class="username-update">{{ userData.name }}</div>
        </div>
        <div style="height: 100%; text-align: center; vertical-align: middle!important;">
          <button class="mybtn">{{'updatePage.browse' | translate}}</button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col col-12 no-padding>
        <div class="user-detail-update">
          <div class="email-update">
            <div class="email-icon-update">
              <ion-icon class="em-icon-update" name="person"></ion-icon>
            </div>
            <div class="email-heading-update">{{'updatePage.name' | translate}}</div>
            <div class="email-address-update">
              <ion-item style="background: transparent!important;">
                <ion-input type="text" [(ngModel)]="userData.name" name="name"></ion-input>
                <!--<ion-input clearInput class="email-input" type="email" [ngModel]="name2" (change)="getBrand($event)" placeholder="Example: demo@gmail.com"></ion-input>-->
              </ion-item>
            </div>
            <div style="clear: both;"></div>
          </div>
          <div class="email-update">
            <div class="email-icon-update">
              <ion-icon class="em-icon-update" name="mail"></ion-icon>
            </div>
            <div class="email-heading-update">{{'updatePage.email' | translate}}</div>
            <div class="email-address-update">
              <ion-item style="background: transparent!important;">
                <ion-input type="email" [(ngModel)]="userData.email" name="Email"></ion-input>
                <!--<ion-input clearInput class="email-input" type="email" value="{{profile.email}}" [ngModel]="registerData.name" placeholder="Example: demo@gmail.com"></ion-input>-->
              </ion-item>
            </div>
            <div style="clear: both;"></div>
          </div>
          <div class="phone-update">
            <div class="phone-icon-update">
              <ion-icon class="ph-icon-update" name="call"></ion-icon>
            </div>
            <div class="phone-heading-update">{{'updatePage.phone' | translate}}</div>
            <div class="phone-address-update">
              <ion-item style="background: transparent!important;">
                <ion-input type="text" [(ngModel)]="userData.phone_number" value="{{userData1.phone}}" placeholder="Enter your Phone number" name="text"></ion-input>
                <!--<ion-input clearInput class="email-input" type="text" value="{{profile.phone}}" placeholder="Example: +92 303 4472 147"></ion-input>-->
              </ion-item>
            </div>
            <div style="clear: both;"></div>
          </div>
          <div class="exhibition-update">
            <div class="exhi-icon-update">
              <ion-icon class="ex-icon-update" name="heart"></ion-icon>
            </div>
            <div class="exhi-heading-update">{{'updatePage.exhibition' | translate}}</div>
            <div class="exhi-address-update">
              <ion-item style="background: transparent!important;">
                    <!--<ion-label>Gaming</ion-label>-->
                    <ion-select interface="popover" multiple="true" [(ngModel)]="userData.exhibitions">
                      <span *ngFor="let i of exhibitionList1">
                      <ion-option *ngIf="checkAva(i.name,i.id)" selected value="{{i.id}}">{{i.name}}</ion-option>
                      <ion-option *ngIf="!checkAva(i.name,i.id)" value="{{i.id}}">{{i.name}}</ion-option>
                      </span>
                    </ion-select>
              </ion-item>
            </div>
            <div style="clear: both;"></div>
          </div>
<!--          <div class="exhibition-update">-->
<!--            <div class="exhi-icon-update">-->
<!--              <ion-icon class="ex-icon-update" name="person"></ion-icon>-->
<!--            </div>-->
<!--            <div class="exhi-heading-update">{{'updatePage.about' | translate}}</div>-->
<!--            <div class="exhi-address-update">-->
<!--              <ion-item style="background: transparent!important;">-->
<!--                <ion-input type="text" placeholder="About your self" [(ngModel)]="userData.about" name="text"></ion-input>-->
<!--                &lt;!&ndash;<ion-input clearInput class="email-input" type="text" value="{{profile.about}}" placeholder="About"></ion-input>&ndash;&gt;-->
<!--              </ion-item>-->
<!--            </div>-->
<!--            <div style="clear: both;"></div>-->
<!--          </div>-->
          <div class="exhibition-update">
            <div class="exhi-icon-update">
              <ion-icon class="ex-icon-update" name="code-working"></ion-icon>
            </div>
            <div class="exhi-heading-update">{{'updatePage.jTitle' | translate}}</div>
            <div class="exhi-address-update">
              <ion-item style="background: transparent!important;">
                <ion-input type="text" placeholder="Job title" [(ngModel)]="userData.job_title" name="Email"></ion-input>
                <!--<ion-input clearInput class="email-input" type="text" value="{{profile.job_title}}" placeholder="Job title"></ion-input>-->
              </ion-item>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
        <div class="edit-button-update">
          <div class="update-btn">
            <button ion-button (click)="checkEditData1()">{{'updatePage.title' | translate}}</button>
          </div>
        </div>
        <!--<button ion-button (click)="checkEditData1()">Update Profile</button>-->
        <!--<ion-item>-->
          <!--<ion-label stacked>Name</ion-label>-->

        <!--</ion-item>-->
        <!--<ion-item>-->
          <!--<ion-label stacked>Email</ion-label>-->
          <!--<ion-input type="email" [(ngModel)]="userData.email" name="Email"></ion-input>-->
        <!--</ion-item>-->
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
